<footer style="background-color: black;" class="p-5">
    <section class="container ">
        <section class="d-flex justify-content-between  text-white flex-wrap bd-highlight ">
            <section class="p-2 bd-highlight">
                <section class="p-2 bd-highlight text-roda-pe">
                    <img src="" width="250px" />
                </section>
            </section>
            <section class="p-2 bd-highlight">
                <section class="d-flex flex-column bd-highlight mb-3">
                    <section class="p-2 bd-highlight title_footer">Empresa </section>
                    <section class="p-2 bd-highlight content_footer">Empregos</section>
                    <section class="p-2 bd-highlight content_footer">For the Record</section>

                </section>
            </section>

            <section class="p-2 bd-highlight">
                <section class="d-flex flex-column bd-highlight mb-3">
                    <section class="p-2 bd-highlight title_footer">Comunidades </section>
                    <section class="p-2 bd-highlight content_footer">Para Artistas</section>
                    <section class="p-2 bd-highlight content_footer">Desenvolvedores</section>
                    <section class="p-2 bd-highlight content_footer">Publicidade</section>
                    <section class="p-2 bd-highlight content_footer">Investidores</section>
                    <section class="p-2 bd-highlight content_footer">Fornecedores</section>
                </section>
            </section>

            <section class="p-2 bd-highlight">
                <section class="d-flex flex-column bd-highlight mb-3">
                    <section class="p-2 bd-highlight title_footer">Links Uteis </section>
                    <section class="p-2 bd-highlight content_footer">Suporte</section>
                    <section class="p-2 bd-highlight content_footer">Player Web</section>
                    <section class="p-2 bd-highlight content_footer">Aplicativo móvel grátis</section>
                </section>
            </section>
            <section class="p-2 ml-auto bd-highlight">
                <section class="d-flex flex-row bd-highlight mb-3">
                    <section class="p-2 bd-highlight text-roda-pe"><i class="fa fa-facebook-square fa-2x p-2 icon-social"
                            aria-hidden="true"></i></section>
                    <section class="p-2 bd-highlight "><i class="fa fa-instagram fa-2x p-2 icon-social" 
                            aria-hidden="true"></i></section>
                    <section class="p-2 bd-highlight "><i class="fa fa-twitter-square fa-2x p-2 icon-social"
                            aria-hidden="true"></i></section>
                </section>
            </section>

        </section> 
        <section class="d-flex justify-content-end  flex-row bd-highlight mb-3">
            <section class="p-2 bd-highlight"><i class="fa fa-globe fa-1x"
                aria-hidden="true"></i> Brasil </section>
        </section>      
        <section class="d-flex  flex-row bd-highlight mb-3">
            <section class="p-2 bd-highlight">Legal</section>
            <section class="p-2 bd-highlight">Centro de Privacidade</section>
            <section class="p-2 bd-highlight">Política de Privacidade</section>
            <section class="p-2 bd-highlight">Cookies</section>
            <section class="p-2 bd-highlight">Sobre anúncios</section>
        </section>
    </section>

</footer>