.text-white {
    color: white
}

a {
    color: #FFF;
}


.text-black {
    color: black;
}

.bg-puple {
    background-color: #46028b !important;
}

.bg-yellow {
    background-color: #f2d026 !important;
}