<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white text-white text-uppercase">

        <div class="container-fluid p-2 ">
            <a [routerLink]="['/']" class="nav-link text-white" >
                <span class="navbar-text text-white">
                    <h5>
                        < Execute Tech />
                    </h5>
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="nav  text-white">
                    <li class="nav-item" routerLinkActive="active">
                        <a [routerLink]="['/login']" class="nav-link text-white">Sistema</a>
                    </li>

                </ul>
            </div>
        </div>

    </nav>
</header>