<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white text-white text-uppercase">

        <div class="container-fluid p-2 ">

            <span class="navbar-text text-white">
                <h5>
                    < Execute Tech />
                    </h5>
            </span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="nav  text-white">
                    <li class="nav-item text-white">
                        <a class="nav-link active text-white" href="#">Página Atual</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Link 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Link 2</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link disabled text-white" href="#" tabindex="-1"
                            aria-disabled="true">Manutenção</a>
                    </li>

                </ul>
            </div>
        </div>

    </nav>
</header>
